body{
    background-color: yellow;
}
p{
    background-color: orange;
}
div{
    font-size: 20px;
}
pre{
    color: blue;
}
img{
    margin:auto;
    display:block;
    border-color: black;
    border-windows: medium;
    border-style: dashed;
    border-radius: 25px;
}

.lista1{
    list-style-type: lower-roman;
    list-style-position: inside;
    position: absolute;
    top: 2px;
    right: 150px;
}